  html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Navigation Section*/

.top-navigation {
    background-color: #fff;
    position:fixed;
    width: 100%;
    z-index: 9999;
    top:0;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.links > li {
  display: inline-block;
  margin-left: 1.5em;
}

.top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 18px;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.logo {
  margin-top: 12px;
  margin-left: 6em;
}

.top-navigation .links > .active {
  font-weight: 700;
  color: #4c5058;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #000;
}

/*Introduction Section*/

.introduction {
  background-image: url(/startup-landing-page-clone/images/first-background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  }

.introduction .content {
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: center;
}

 .introduction .content h1 {
  font-weight: lighter;
  font-size: 3.5em;
	padding-top: 5em;
	margin-bottom: -0.25em;
	margin-top: 20px;
}
	

.introduction .content h3{
	font-weight: lighter;
	font-size: 1.5em;	
}

.button {
  	text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    background-color: #ff3300;
    width: 10em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
  background-color: #e62e00;
}

/* Icon section */

.cases {
	font-family: Roboto, sans-serif;
	text-align: center;
}

.cases h2 {
  font-size: 2.5em;
  font-weight: lighter;
  padding-top: 2em;
}

.cases ul {
  padding-left: 1px;
}

.cases .devices > li {
	display: inline-block;
	list-style: none;
  padding: 1em;
}

.cases .devices h3 {
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 0.05em;
}

/*Footer Section */

.social .content  {
    text-align: center;
    margin-bottom: 3em;
    }

.social .content > hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.5 0;
    }

.social .content > h5 {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  padding-top: 2em;
}

.social .content ul {
  padding-left: 1px;
}

.social .icons > li {
    border-radius: 2em;
    width: 2em;
    height: 2em;
    display: inline-block;
    margin: 1.25em 5px;
    border: 0.5px solid #838994;
    text-align: center;
}

.social .content .icons > li:hover {
  cursor: pointer;
}

.social .content .copy {
  font-size: 1em;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #838994;
  margin: 0 auto;
}

.social .content .icons i {
  margin-top: 7px;
}

.social .fa.fa-twitter {
  color: #55acee;
}

.social .fa.fa-facebook {
  color: #4c66a4
}

.social .fa.fa-instagram {
      color: #3f729b;
}