  html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*Navigation Section*/

top-navigation .content {
  width: 970px;
  height: 70px;
  width: 0 auto;
}

.links > li {
  display: inline-block;
  margin-left: 1.5em;
}

.top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 18px;
  margin-top: 25px;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
}

.logo {
  margin-top: 12px;
  margin-left: 4em;
}

.top-navigation .links > .active {
  font-weight: 700;
  color: #4c5058;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #000;
}

.introduction {
  background-image:url(http://thinkful-ed.github.io/karma-clone/img/first-background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  }

.introduction .content {
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: center;
}

 .introduction .content h1 {
  font-weight: lighter;
  font-size: 3.5em;
	padding-top: 5em;
	margin-bottom: -0.25em;
	margin-top: 20px;
}
	

.introduction .content h3{
	font-weight: lighter;
	font-size: 1.5em;
	
}

.button {
  	text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    background-color: #ff3300;
    width:10em;
    font-size: 1em;
    font-weight: 500;

}